{{extend 'layoutui.html'}}

<div class="ui grid">
	<div id="princ-editar" class="sixteen wide column">
		{{=cabecalho}}
	</div>
</div>

{{=form.custom.begin}}
  <div class="four wide field">
  	{{form.elements('#camisetas_horario')}}
    {{=form.custom.widget.horario}}
  </div>
  <div class="four wide field">
  	{{form.elements('#camisetas_nome')}}
    {{=form.custom.widget.nome}}
  </div>
  <div class="four wide field">
  	{{form.elements('#camisetas_tipo')}}
    {{=form.custom.widget.tipo}}
  </div>
  <div class="four wide field">
  	{{form.elements('#camisetas_tamanho')}}
    {{=form.custom.widget.tamanho}}
  </div>
  <div class="four wide field">
  	{{form.elements('#camisetas_valor')}}
    {{=form.custom.widget.valor}}
  </div>
  <div class="four wide field">
	{{form.elements('#camisetas_pago')[0]['_class']='ui radio checkbox'}}
	{{=form.custom.widget.pago}}
  </div>

  <div class="ui vertical animated button" tabindex="0">
	  <div class="hidden content">
	  	<i><a href="{{=URL('pedidos')}}">Voltar</a></i>
	  </div>
	  <div class="visible content">
	    <i class="arrow left icon"></i>
	  </div>
  </div>

  <div class="ui vertical animated button" tabindex="0">
	  <div class="hidden content">
	  	<button id="btn-salvar" class="ui button" type="submit">
		  	<i>Salvar</i>
		</button>
	  </div>
	  <div class="visible content">
	    <i class="save icon"></i>
	  </div>
  </div>
{{=form.custom.end}}

