<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{=response.title}}</title>
	
	<link rel="stylesheet" type="text/css" href="{{=URL('static', 'Semantic-UI-CSS-master/semantic.min.css')}}">
	<link rel="stylesheet" href="{{=URL('static', 'css/estilo.css')}}">
	<script src="{{=URL('static', 'Semantic-UI-CSS-master/semantic.min.js')}}"></script>
	<script src="{{=URL('static','js/jquery.js')}}"></script>

	<script type="text/javascript">
		 (function(){$('.tabular.menu .item').tab();});
	</script>
</head>
<body>
	<div class="ui grid">
		<div id="principal" class="sixteen wide column">
			<img class="ui floated small image" src="{{=URL('static', 'images/logo-grupy.png')}}">
			{{include}}
		</div>
	</div>
</body>
</html>